
@page
@using RazorPages.Models
@model RazorPages.Pages.Admin.Books.IndexModel
@{
    Layout = null;
}
@*
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sofbox - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images1/favicon.ico" />
    <!-- Bootstrap /css1 -->
    <link rel="stylesheet" href="/css1/bootstrap.min.css">
    <!-- Typography /css1 -->
    <link rel="stylesheet" href="/css1/typography.css">
    <!-- Style /css1 -->
    <link rel="stylesheet" href="/css1/style.css">
    <!-- Responsive /css1 -->
    <link rel="stylesheet" href="/css1/responsive.css">
</head> *@

<!-- loader Start -->
@* Just image Loed
    <div id="loading">
    <div id="loading-center">
    <div class="loader">
    <div class="cube">
    <div class="sides">
    <div class="top"></div>
    <div class="right"></div>
    <div class="bottom"></div>
    <div class="left"></div>
    <div class="front"></div>
    <div class="back"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@
<!-- loader END -->
<!-- Wrapper Start -->
@*     <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="index.html">
                    <img src="/images1/logo.png" class="img-fluid" alt="">

                </a>
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="line-menu half start"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu half end"></div>
                    </div>
                </div>
            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="iq-menu-title"><i class="ri-separator"></i><span>Main</span></li>
                        <li class="">
                            <a href="#dashboard" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-home-4-line"></i><span>Dashboard Manager</span></a>



                        <li>
                            <a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-line"></i><span>User</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a href="add-user.html">User Add</a></li>
                                <li class=""><a href="user-list.html">User List</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                                <i class="ri-home-4-line"></i>
                                <span>Department</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a>

                            <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a href="add-user.html">Department Add</a></li>
                                <li class=""><a href="user-list.html">Department List</a></li>
                            </ul>
                        </li>
                        <li>
                                @* <a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                            <i class="ri-book-line"></i>
                            <span>Tasks</span>
                            <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a> *@
<@* a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
    <i class="ri-pencil-line"></i>
    <span>Tasks</span>
    <i class="ri-arrow-right-s-line iq-arrow-right"></i>
    </a>
    <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
    <li class=""><a href="add-user.html">Tasks Add</a></li>
    <li class=""><a href="user-list.html">Tasks List</a></li>
    </ul>
    </li>
    <li class="active">
    <a href="todo.html" class="iq-waves-effect "><i class="ri-folder-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
    <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
    <li class="active"><a href="add-user.html">Project Add</a></li>
    <li class=""><a href="user-list.html">Project List</a></li>
    </ul>
    </li> *@
@* // <li class="active"><a href="todo.html" class="iq-waves-effect "><i class="ri-chat-check-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a></li>
    *@
@* </ul>
    </nav>
    <div class="p-3"></div>
    </div>
    </div>
    <!-- TOP Nav Bar -->
    <div class="iq-top-navbar">
    <div class="iq-navbar-custom">
    <div class="iq-sidebar-logo">
    <div class="top-logo">
    <a href="index.html" class="logo">
    <img src="/images1/logo.png" class="img-fluid" alt="">
    <span>Innov-Alliance-Tech</span>
    </a>
    </div>
    </div>
    <div class="navbar-breadcrumb">
    <h5 class="mb-0">Dashboard</h5>
    <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> Project List </li>
    </ul>
    </nav>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="ri-menu-3-line"></i>
    </button>
    <div class="iq-menu-bt align-self-center">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-list">
    <li class="nav-item dropdown">
    <div class="iq-sub-dropdown">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
    <div class="iq-card-body p-0 ">
    <div class="bg-primary p-3">
    <h5 class="mb-0 text-white">All Messages<small class="badge badge-light float-right pt-1">5</small></h5>
    </div>
    <div class="media align-items-center">
    <div class="">
    <img class="avatar-40 rounded" src="/images1/user/01.jpg" alt="">
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Nik Emma Watson</h6>
    <small class="float-left font-size-12">13 Jun</small>
    </div>
    </div>
    <a href="#" class="iq-sub-card">
    <div class="media align-items-center">
    <div class="">
    <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
    </div>
    <div class="media-body ml-3">
    </div>
    </div>
    </a>
    </div>
    </div>
    </div>
    </li>
    <li class="nav-item">
    <div class="iq-sub-dropdown">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
    <div class="iq-card-body p-0 ">
    <div class="bg-danger p-3">
    <h5 class="mb-0 text-white">All Notifications<small class="badge badge-light float-right pt-1">4</small></h5>
    </div>
    <a href="#" class="iq-sub-card">
    <div class="media align-items-center">
    <div class="media-body ml-3">
    <h6 class="mb-0 ">New Order Recieved</h6>
    <small class="float-right font-size-12">23 hrs ago</small>
    <p class="mb-0">Lorem is simply</p>
    </div>
    </div>
    </a>
    <a href="#" class="iq-sub-card">
    <div class="media align-items-center">
    <div class="">
    <img class="avatar-40 rounded" src="//images11/user/01.jpg" alt="">
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Emma Watson Nik</h6>
    <small class="float-right font-size-12">Just Now</small>
    <p class="mb-0">95 MB</p>
    </div>
    </div>
    </a>
    <a href="#" class="iq-sub-card">
    <div class="media align-items-center">
    <div class="">
    <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">New customer is join</h6>
    <small class="float-right font-size-12">5 days ago</small>
    <p class="mb-0">Jond Nik</p>
    </div>
    </div>
    </a>
    <a href="#" class="iq-sub-card">
    <div class="media align-items-center">
    <div class="">
    <img class="avatar-40" src="/images1/small/jpg.svg" alt="">
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Updates Available</h6>
    <small class="float-right font-size-12">Just Now</small>
    <p class="mb-0">120 MB</p>
    </div>
    </div>
    </a>
    </div>
    </div>
    </div>
    </li>
    <li class="nav-item iq-full-screen"><a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a></li>
    </ul>
    </div>
    <ul class="navbar-list">
    <li>
    <a href="#" class="search-toggle iq-waves-effect bg-primary text-white"><img src="/images1/user/user-2.jpg" class="img-fluid rounded" alt="user"></a>
    <div class="iq-sub-dropdown iq-user-dropdown">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
    <div class="iq-card-body p-0 ">
    <div class="bg-primary p-3">
    <h5 class="mb-0 text-white line-height">Hello Nik jone</h5>
    <span class="text-white font-size-12">Available</span>
    </div>
    <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
    <div class="media align-items-center">
    <div class="rounded iq-card-icon iq-bg-primary">
    <i class="ri-file-user-line"></i>
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">My Profile</h6>
    <p class="mb-0 font-size-12">View personal profile details.</p>
    </div>
    </div>
    </a>
    <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-success-hover">
    <div class="media align-items-center">
    <div class="rounded iq-card-icon iq-bg-success">
    <i class="ri-profile-line"></i>
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Edit Profile</h6>
    <p class="mb-0 font-size-12">Modify your personal details.</p>
    </div>
    </div>
    </a>
    <a href="account-setting.html" class="iq-sub-card iq-bg-primary-danger-hover">
    <div class="media align-items-center">
    <div class="rounded iq-card-icon iq-bg-danger">
    <i class="ri-account-box-line"></i>
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Account settings</h6>
    <p class="mb-0 font-size-12">Manage your account parameters.</p>
    </div>
    </div>
    </a>
    <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-secondary-hover">
    <div class="media align-items-center">
    <div class="rounded iq-card-icon iq-bg-secondary">
    <i class="ri-lock-line"></i>
    </div>
    <div class="media-body ml-3">
    <h6 class="mb-0 ">Privacy Settings</h6>
    <p class="mb-0 font-size-12">Control your privacy parameters.</p>
    </div>
    </div>
    </a>
    <div class="d-inline-block w-100 text-center p-3">
    <a class="iq-bg-danger iq-sign-btn" href="sign-in.html" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
    </div>
    </div>
    </div>
    </div>
    </li>
    </ul>
    </nav>
    </div>
    </div>
    <!-- TOP Nav Ba *@
        <!-- Page Content  -->

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sofbox - Responsive Bootstrap 4 Admin Dashboard Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images1/favicon.ico" />
    <!-- Bootstrap /css1 -->
    <link rel="stylesheet" href="/css1/bootstrap.min.css">
    <!-- Typography /css1 -->
    <link rel="stylesheet" href="/css1/typography.css">
    <!-- Style /css1 -->
    <link rel="stylesheet" href="/css1/style.css">
    <!-- Responsive /css1 -->
    <link rel="stylesheet" href="/css1/responsive.css">
</head>
    <!-- loader Start -->
@* Just image Loed
    <div id="loading">
    <div id="loading-center">
    <div class="loader">
    <div class="cube">
    <div class="sides">
    <div class="top"></div>
    <div class="right"></div>
    <div class="bottom"></div>
    <div class="left"></div>
    <div class="front"></div>
    <div class="back"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Sidebar  -->
        <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
                <a href="index.html">
                    <img src="/images1/logo.png" class="img-fluid" alt="">

                </a>
                <div class="iq-menu-bt align-self-center">
                    <div class="wrapper-menu">
                        <div class="line-menu half start"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu half end"></div>
                    </div>
                </div>
            </div>
            <div id="sidebar-scrollbar">
                <nav class="iq-sidebar-menu">
                    <ul id="iq-sidebar-toggle" class="iq-menu">
                        <li class="iq-menu-title"><i class="ri-separator"></i><span>Main</span></li>
                        <li class="">
                            <a  asp-page="/Index" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-home-4-line"></i><span>Dashboard </span></a>




                        <li class="">

                            <a href="#depart" data-toggle="collapse"  class="iq-waves-effect ">
                                <i class="ri-home-4-line"></i>
                                <span>Department</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a>

                                <li class=""><a asp-page="/Admin/Books/AddOrEdit">Department Add</a></li>
                                <li class="active"><a  asp-page="/Admin/Books/Index">Department List</a></li>

                        </li>




                        @* <a href="#user-info" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                                <i class="ri-book-line"></i>
                                <span>Tasks</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a> *@
                            <li>
                            <a href="#task" data-toggle="collapse"  class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                                <i class="ri-pencil-line"></i>

                                <span>Tasks</span>
                                <i class="ri-arrow-right-s-line iq-arrow-right"></i>
                            </a>


                            <ul id="task" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a asp-page="/Admin/Tasks/AddTask">Tasks Add</a></li>
                                <li class=""><a asp-page="/Admin/Tasks/AddTask">Tasks List</a></li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="#projet" data-toggle="collapse"  class="iq-waves-effect "><i class="ri-folder-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="projet" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a asp-page="/Admin/Projects/AddOrEdit">Project Add</a></li>
                                <li class=""><a asp-page="/Admin/Projects/Index">Project List</a></li>
                            </ul>
                        </li>
                        @*   // <li class="active"><a href="todo.html" class="iq-waves-effect "><i class="ri-chat-check-line"></i><span>Project</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a></li>

 *@
@* 
                           <li>
                            <a href="#user-info" data-toggle="collapse"  class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-user-line"></i><span>Candidat</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="user-info" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                <li class=""><a  asp-page="/PP/Index">Candidat List</a></li>
                          </ul>
                        </li> *@

                    </ul>
                </nav>
                <div class="p-3"></div>
            </div>
        </div>
        <!-- TOP Nav Bar -->
        <div class="iq-top-navbar">
            <div class="iq-navbar-custom">
                <div class="iq-sidebar-logo">
                    <div class="top-logo">
                        <a href="index.html" class="logo">
                            <img src="/images1/logo.png" class="img-fluid" alt="">
                            <span>Innov-Alliance-Tech</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-breadcrumb">
                    <h5 class="mb-0">Dashboard</h5>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"> Department List  </li>
                        </ul>
                    </nav>

                </div>
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-3-line"></i>
                    </button>
                    <div class="iq-menu-bt align-self-center">
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto navbar-list">

                            <li class="nav-item dropdown">

                                <div class="iq-sub-dropdown">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-primary p-3">
                                                <h5 class="mb-0 text-white">All Messages<small class="badge  badge-light float-right pt-1">5</small></h5>
                                            </div>

                                            <div class="media align-items-center">
                                                <div class="">
                                                    <img class="avatar-40 rounded" src="/images1/user/01.jpg" alt="">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Nik Emma Watson</h6>
                                                    <small class="float-left font-size-12">13 Jun</small>
                                                </div>
                                            </div>

                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                    </div>
                                                </div>
                                            </a>



                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item">


                                <div class="iq-sub-dropdown">
                                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                        <div class="iq-card-body p-0 ">
                                            <div class="bg-danger p-3">
                                                <h5 class="mb-0 text-white">All Notifications<small class="badge  badge-light float-right pt-1">4</small></h5>
                                            </div>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New Order Recieved</h6>
                                                        <small class="float-right font-size-12">23 hrs ago</small>
                                                        <p class="mb-0">Lorem is simply</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/01.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Emma Watson Nik</h6>
                                                        <small class="float-right font-size-12">Just Now</small>
                                                        <p class="mb-0">95 MB</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40 rounded" src="/images1/user/02.jpg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">New customer is join</h6>
                                                        <small class="float-right font-size-12">5 days ago</small>
                                                        <p class="mb-0">Jond Nik</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center">
                                                    <div class="">
                                                        <img class="avatar-40" src="/images1/small/jpg.svg" alt="">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <h6 class="mb-0 ">Updates Available</h6>
                                                        <small class="float-right font-size-12">Just Now</small>
                                                        <p class="mb-0">120 MB</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item iq-full-screen"><a href="#" class="iq-waves-effect" id="btnFullscreen"><i class="ri-fullscreen-line"></i></a></li>
                        </ul>
                    </div>
                    <ul class="navbar-list">
                        <li>
                            <a href="#" class="search-toggle iq-waves-effect bg-primary text-white"><img src="/images1/user/user-2.jpg" class="img-fluid rounded" alt="user"></a>
                            <div class="iq-sub-dropdown iq-user-dropdown">
                                <div class="iq-card iq-card-block iq-card-stretch iq-card-height shadow-none m-0">
                                    <div class="iq-card-body p-0 ">
                                        <div class="bg-primary p-3">
                                            <h5 class="mb-0 text-white line-height">Hello Nik jone</h5>
                                            <span class="text-white font-size-12">Available</span>
                                        </div>
                                        <a href="profile.html" class="iq-sub-card iq-bg-primary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-primary">
                                                    <i class="ri-file-user-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">My Profile</h6>
                                                    <p class="mb-0 font-size-12">View personal profile details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile-edit.html" class="iq-sub-card iq-bg-primary-success-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-success">
                                                    <i class="ri-profile-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Edit Profile</h6>
                                                    <p class="mb-0 font-size-12">Modify your personal details.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="account-setting.html" class="iq-sub-card iq-bg-primary-danger-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-danger">
                                                    <i class="ri-account-box-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Account settings</h6>
                                                    <p class="mb-0 font-size-12">Manage your account parameters.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="privacy-setting.html" class="iq-sub-card iq-bg-primary-secondary-hover">
                                            <div class="media align-items-center">
                                                <div class="rounded iq-card-icon iq-bg-secondary">
                                                    <i class="ri-lock-line"></i>
                                                </div>
                                                <div class="media-body ml-3">
                                                    <h6 class="mb-0 ">Privacy Settings</h6>
                                                    <p class="mb-0 font-size-12">Control your privacy parameters.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="d-inline-block w-100 text-center p-3">
                                            <a class="iq-bg-danger iq-sign-btn" asp-page="/Admin/Users/Login" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- TOP Nav Bar END -->
        <!-- Page Content  -->
        <div id="content-page" class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="iq-card">
                            <div class="iq-card-header d-flex justify-content-between">
                                <div class="iq-header-title">
                                    <h4 class="card-title"> Department List</h4>
                                </div>
                            </div>
                            <div class="iq-card-body">
                                <div class="table-responsive">
                                    <div class="row justify-content-between">

                                    </div>




                                @*  //Add a card from Boostrap , card=featured   bg-success:vert *n'oubliez pas que c'est un formulaire ==> la balise form et la methode pour l'envoi de formulaire est post // *@
    <div class="card w-50" style="margin:auto">
        <div class="card-header bg-info text-white" style="background-color: #FFFFFF !important ;font-weight:bold;">
            <i class="bi bi-plus-square"></i>  

    <!-- Votre navbar -->
    <nav id="navbar">
        <!-- Votre code de navbar ici -->
    </nav>

    <!-- Votre liste -->

    <div class="card" style="margin:auto">
        <!--je l'a  donné tous l'espace de  -->
        
    <div class="card-header bg-info text-white" style="background-color: #578ee5 !important;font-weight:bold;">
            <i class="bi bi-plus-square"></i>
        <!-- Lien pour ajouter une nouvelle filière -->
            <a asp-page="/Admin/Books/AddOrEdit" class="btn btn-primary" style="float:right"><i class="bi bi-plus-square mx-1 p-1"></i>New Department</a>
    </div>
    <div class="card-body">
        <!-- Contenu de la carte -->
            
               
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Department Name@* @Html.LabelFor(m => m.BookList.ElementAt(0).Name) *@</th>
                    <th scope="col" >NumberInterns@* @Html.LabelFor(m => m.BookList.ElementAt(0).OrderDisplay) *@</th>
                    <th scope="col">Action</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach( Book bok in Model.BookList)
                {
                    <tr>
                        <td>@bok.Name</td>
                        <td>@bok.OrderDisplay </td>
                        <td>
                        <div class="btn-group w-75" role="group">
                                    
                                   @*  <a class="btn btn-success mx-1 p-1" asp-page="AddOrEdit" asp-route-BookId="@bok.BookId"><i class="bi bi-pencil-square"></i></a> *@
                                       <a class="btn btn-success mx-1 p-1" asp-page="AddOrEdit" asp-route-BookId="@bok.BookId">
                                                 <i class="ri-pencil-line" style="color: white;"></i>
                                       </a>
                                @*////////////FONCTION DELETE////////////////// *@
                                    
                                            <a class="btn btn-outline-danger btn-danger mx-1 p-1" asp-page="AddOrEdit" asp-page-handler="Delete" asp-route-BookId="@bok.BookId">
                                                     <i class="ri-delete-bin-line" style="color: white;"></i> 
                                            </a>

                                @*mathaybya na7iha lbutton w nrodha lien <button type="button" class="btn btn-outline-primary">Right</button>*@
                       
                            
                            
                        </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>  
 <!-- Footer END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js1/jquery.min.js"></script>
    <script src="/js1/popper.min.js"></script>
    <script src="/js1/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="/js1/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="/js1/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="/js1/waypoints.min.js"></script>
    <script src="/js1/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="/js1/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="/js1/apexcharts.js"></script>
    <!-- Slick JavaScript -->
    <script src="/js1/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="/js1/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="/js1/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="/js1/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="/js1/smooth-scrollbar.js"></script>
    <!-- lottie JavaScript -->
    <script src="/js1/lottie.js"></script>
    <!-- Chart Custom JavaScript -->
    <script src="/js1/chart-custom.js"></script>
    <!-- Custom JavaScript -->
    <script src="/js1/custom.js"></script>
</html>
